@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

.title {
  color: rgb(143, 2, 2);
  font-family: 'Mountains of Christmas', serif;
  font-weight: 900;
  text-align: center;
  font-size: 80px;
  margin-top: 60px;
}

.subTitle {
  color: rgb(4, 117, 68);
  font-family: 'Mountains of Christmas', serif;
  font-weight: 900;
  text-align: center;
  font-size: 50px;
}

.etc {
  font-family: 'Song Myung', serif;
  text-align: center;
  font-size: 40px;
  background-color: rgba(188, 194, 92, 0.468);
  border-radius: 30px;
  padding: 30px;
  margin: 0px 400px;
  /* width: 1000px; */
  /* margin-left: 27%; */
  margin-top: 40px;
  color: black;
}

.startBtn {
  border: none;
  background-color: rgb(175, 48, 48);
  color: white;
  padding: 20px;
  margin: 10px;
  font-weight: bolder;
  border-radius: 20px;
  margin-top: 80px;
  /* margin-left: 48%; */
  cursor: pointer;
  width: 150px;
  font-size: 25px;
}

.buttons {
  text-align: center;
}

.info {
  border: none;
  padding: 10px;
}